<%@ Master Language="VB" CodeFile="MainMasterPage.master.vb" Inherits="MainMasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Sports - Master</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div id="logo">
        <img src="images/soccerball.png" />
    </div>
    </form>
</body>
</html>
